<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../assets/js/vue.js" type="text/javascript"></script>

</head>

<body>

    <div id="app">
       <header></header>
       <br>
       {{newPrice}}
       <br>
       <ul>
           <li v-for="item in news" v-text="item"></li>
        </ul>
        <ul>
                <li v-for="item in reverseNews" v-text="item"></li>
        </ul>

        <br>
        <p>今日温度：{{temperature}}°C</p>
        <p>穿衣建议:{{this.suggestion}}</p>
        <p>
            <button @click="add">添加温度</button>
            <button @click="reduce">减少温度</button>

        </p>
    </div>
 
    <script type="text/javascript">
        var headerExtend=Vue.extend({
            template:"<h2>这里是{{message}} 示例,由{{name}}创建</h2>",
            data:function(){
                return {
                    message:"propsData"
                }
            },
            props:['name']
        });
        new headerExtend({propsData:{name:'zhangfang'}}).$mount("header");
        var newsList=[
                {title:'香港或就“装甲车被扣”事件追责 起诉涉事运输公司',date:'2017/3/10'},
                {title:'日本第二大准航母服役 外媒：针对中国潜艇',date:'2017/3/12'},
                {title:'中国北方将有明显雨雪降温天气 南方阴雨持续',date:'2017/3/13'},
                {title:'起底“最短命副市长”：不到40天落马，全家被查',date:'2017/3/23'},
            ];
        var suggestion=['T恤短袖','夹克长裙','棉衣羽绒服'];
        //实例构造器
        var app = new Vue({
            el: "#app",
            data:{
              price:10,
              news:newsList,
              temperature:14,
              suggestion:'夹克长裙'
            },
            methods: {
                add:function(){
                    this.temperature+=5;
                },
                reduce:function(){
                    this.temperature-=5;
                }
            },
            // watch:{
            //     temperature:function(newVal,oldVal){
            //         if(newVal>=26){
            //             this.suggestion=suggestion[0];
            //         }else if(newVal<26 && newVal >=0)
            //         {
            //             this.suggestion=suggestion[1];
            //         }else{
            //             this.suggestion=suggestion[2];
            //         }
            //     }
            // },
            components:{
              
            },
            computed:{
                newPrice:function(){
                    return this.price='￥' + this.price + '元';
                },
                reverseNews:function(){
                    return this.news.reverse();
                }
            }
        })
        app.$watch('temperature',function(newVal,oldVal){
            if(newVal>=26){
                this.suggestion=suggestion[0];
            }else if(newVal<26 && newVal >=0)
            {
                this.suggestion=suggestion[1];
            }else{
                this.suggestion=suggestion[2];
            }
        })
            
    </script>
</body>

</html>